

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.desktop {
    display: block;
}

.mobile {
    display: none;
}

body {
    position: relative;
    margin: 1em auto;
}

#wrapper {
    position: relative;
}

.row {
    margin: 0;
}

.menu_text {
    display: inline-block;
}

.item {
    margin: auto;
}

ul {
    list-style: none;

}

#page-content-wrapper {
    padding: 0;
}

button {
    border: none;
}




/* ==========================================================================
   HOME PAGE
   ========================================================================== */
.content {
 /*   width: 1200px;*/
    position: relative;
    margin: auto;
}

#title_div {
    background-image: url("../img/home/home01_title.png");
}

.title_background {
    background-position: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 60px;
}

.block_title {
    line-height: 40px;
    text-align: center;
    margin: 0;
    padding-top: 15px;
}

h5 {
    text-align: center;
    margin-top: 0;
}

#home01_left p {
    width: 75%;
    line-height: 2.5;
    margin: 1em auto;
    font-size: 15px;
}

#home01_green {
    background-color: RGBa(34, 132, 115, 0.2);
    width: 80%;
    margin: 1em auto;
    padding: 10px;
    position: relative;
}

#home01_green p {
    margin: 0;
    line-height: 20px;
    width: 70%;
}

#home01_green_text {
   display: inline-block;
   width: 100%;
padding: 15px;
}
#home01_green_text p {
    line-height: 1.5;
}
#home01_green button{
    display: inline-block;
    vertical-align: top;
    margin-top: 2em;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 21px;
    left: 230px;
    color: #fff;
}
.green {
    background-color: #228473;
}

.red {
    background-color: #F14224;
}

.block_background {
    background-color: #F5F1EF;
}
.padding0 {
    padding: 0;
}

.img_block {
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.logo_block {
    display: inline-block;
    max-width: 25%;
    height: auto;
    max-height: 300px;
    margin-top: 3em;
    margin-left: 2em;
}
.text_block {
    display: inline-block;
    text-align: center;
    margin:2em 0 auto 0;
    width: 65%;
}

.text_block p {
    margin: auto;
    line-height: 30px;
    font-size: 15px;
}

.button_block {
    display: block;
    width: 60%;
    min-width: 100px;
    margin: 20% auto;
    color: white;
    padding: 15px;
    font-size: 15px;
}
.button_block:hover {
    opacity: 0.8;
}

/* ==========================================================================
   HEADER
   ========================================================================== */
header {
    display: inline-block;
    border-bottom: 3px solid #339966;
    width: 100%;
    margin-bottom: 1em;
}

#header_icon {
    margin: 10px;
    width: auto;
    max-width: 58%;
    height: auto;
    max-height: 60px;
}

.phone_info{
    display: inline-block;
    float: right;
    text-align: right;
    padding: 0px 20px 20px 20px;
}

.phone_small {
    display: block;
    font-size: 9pt;
}

.phone_big {
    display: block;
    font-size: 17pt;
    line-height: 25px;
}

#facebook_icon {
    float: right;
    position: relative;
    width: 10%;
    max-width: 100px;
    min-width: 70px;
    margin-top: 10px;
}
#facebook_icon:hover {
    opacity: 0.8;
}
/* ==========================================================================
   CAROUSEL
   ========================================================================== */

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    max-height: 480px;
    margin: auto;
}

.carousel-control.right {
    margin-right: 0;
}

.carousel-control.left {
    margin-left: 0;
}

#myCarousel {
    width: auto;
    max-height: 480px;
    margin-left: 70px;

}



/* ==========================================================================
   FOOTER
   ========================================================================== */
footer {
    position: relative;
    height: auto;
    width: 100%;
    clear: both;
    padding-top: 20px;
    background-color: #999999;
    color: black;
}

footer.row {
}

footer ul {
    display: inline-block;
    text-align: center;
}

footer li {
     display: inline-block;
     padding: 10px 6px;
     font-size: 9pt;
}

footer a {
    text-decoration: none;
    color: black;
}

.modal-footer {
    width: 100%;
}

.footer_logo {
    height: 50px;
    margin: auto;
    margin-top: -10px;
}

/*To keep the footer on the bottom*/
html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
}

/* ==========================================================================
   onsen page
   ========================================================================== */

.onsen-title {
    background-image: url("../img/onsen-line.png");
    background-repeat: no-repeat;
    height: 0;
    padding-top: 10%;
    background-size: contain;
}
.room-title {
    background-image: url("../img/room-line.png");
    background-repeat: no-repeat;
    height: 0;
    padding-top: 10%;
    background-size: contain;
}
.food-title {
    background-image: url("../img/food-line.png");
    background-repeat: no-repeat;
    height: 0;
    padding-top: 10%;
    background-size: contain;
}
.block_title02 {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    margin-top: -100px;
}

.block_title-sb {
    font-family: Century Gothic;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
}
.descriprion-page {
    text-align: center;
    font-size: 15px;
    line-height: 2.5;
    margin-top: -20px;
}
.descriprion-onsen {
    text-align: center;
    font-size: 13px;
    padding-top: 7px;
}
.img-onsen {
    width: 90%;
    margin: 0 auto;
}
.img-onsen-in {
    width: 100%;
    padding: 10px 0 10px 0;
}
.cv-button {
    width: 30%;
    margin: 0 auto;
}
.cv-button-in {
    width: 100%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    border: none;
    background-color: #228473;
}
.cv-button-in:hover {
    opacity: 0.8;
    cursor: pointer;
}
#contact-table tr td{
    padding: 30px;
}
#sm-text {
    font-size: 12px;
}
.jaran-bt {
    width: 100%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    border: none;
    background-color: #228473;
}
