@media (max-width: 1199px) {
    .sidebar-nav li {
        line-height: 65px;
    }
}

@media (max-width: 991px) {
    .menu_icon {
        width: 51px;
    }

    .sidebar-nav li a {
         padding: 0;
    }
}

@media (max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .menu_text {
    }

    .sidebar-nav li {
        width: auto;
    }


    #page-content-wrapper h2{
        background-image: url("../img/home/home01_title.png");
        background-position: bottom center;
        background-repeat: no-repeat;
    }

    #header_icon{
        max-height: none;
        height: auto;
        width: 100%;
        max-width: none;
        padding: 10px 7%;
    }

    .phone_info {
        margin-bottom: -10px;
    }

    .phone_big {
        text-align: right;
        font-size: 100%;
    }
    .phone_small{
        text-align: right;
        font-size: 50%;
    }

    .footer_logo {
        width: 80%;
        height: auto;
        margin: 5px auto;
    }


    footer li {
        display: block;
        padding: 3px;
        text-align: left;
    }
     footer img, footer span {
         margin: auto;
         float: none;
         padding: 0;
     }
     footer .phone_small {
         margin-top: 20px;
     }
     footer .phone_info {
         padding-right: 40px;
         padding-bottom: 40px;
     }
     #page-content-wrapper {
        padding: 0;

     }
    #wrapper.menuDisplayed .menu_text {
    
    }

    .menu_icon {
        margin-left: 0;
    }

    #sidebar-wrapper {
        padding:0;
    }

    .sidebar-nav li {
    line-height: 0; 
    }

    .text_block p {
        font-size: 10pt;
        margin: auto;
    }

    .img_block {
        margin-top: 1em;
    }

    #home01_green, #home01_left p {
        width: auto;
    }
    .cv-button {
        width: 70%;
    }

    .logo_block {
        margin-left: 1em;
    }

    .text_block {
        margin-left: 1em;
    }
}