
#sidebar-wrapper {
    z-index:1;
    padding: 0;
    overflow-y: hidden;
    background-color: transparent;
    opacity: 0.9;
    padding-top: 0px;
}

#wrapper.menuDisplayed #sidebar-wrapper {
}


#wrapper.menuDisplayed .menu_text {
    display: inline-block;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 80px;
    width: 100%;
}

.sidebar-nav li:nth-child(even) {
    background-color: #F5F1EF;
}

.sidebar-nav li:nth-child(odd) {
    background-color: #FFFFFF;
}

.sidebar-nav li a {
    padding-right: 3em;
    padding-left: 3em;
    text-decoration: none;
    color: black;
}

.sidebar-nav li:hover {
    background: paleturquoise;
}

.menu_icon {
    width: 60px;
    height: auto;
    padding: 10px;
    display: inline-block;
    margin-left: 15px;
}

.menu_text {
    display: none;
    text-align: center;
}

.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}
